# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# native
*.orig
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# windows
Thumbs.db

# vscode
.vscode/

# logs
*.log

# typescript
*.tsbuildinfo

# environment
.env
.env.local

# build
android/
ios/